<h3>Invoice <%=@invoice.id %></h3>

<div id="invoice-details">
  <p>Date Created: <%= @invoice.formatted_date %></p>
  <p>Customer Name: <%= @invoice.customer_name %></p>
  <p>Status: <%= @invoice.status %></p>
</div>