<h1><%= @merchant.name %> Index</h1>
<section class="items">
  <h3>Items</h3>
  <% @merchant.items.each do | item | %>
      <%= link_to item.name, merchant_item_path(@merchant, item), data: {turbo: false} %>
  <% end %>
</section>
