<%= render partial: "app_partials/header", locals: {header: "#{@merchant.name}"} %>
<%= render partial: "app_partials/link_to_dash",
           locals: {dash_pth: dashboard_merchant_path(@merchant),
                    link_2: "Items", l2_pth: merchant_items_path(@merchant),
                    link_3: "Invoices", l3_pth: merchant_invoices_path(@merchant)} %>

<p>My Invoices</p>

<% @merchant.invoices.each do |invoice| %>
  <%= link_to "Invoice ##{invoice.id}", merchant_invoice_path(@merchant, invoice) %>
<% end %>